.content-projects {
  background: #d9a7c7;
  background: -webkit-linear-gradient(to right, #fffcdc, #d9a7c7);
  background: linear-gradient(to right, #fffcdc, #d9a7c7);

  height: auto;
  min-height: 80vh;
}

.list-projects {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: center;
  align-content: space-around;
  padding: 30px;
}

.title-project {
  text-align: center;
  font-weight: bold;
  padding: 80px;
}

.item-list-projects {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1 rem;
  margin-bottom: 30px;
}

.name-project {
  font-weight: 300;
}

@media (max-width: 1080px) {
  .list-projects {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 768px) {
  .list-projects {
    grid-template-columns: 1fr;
  }
} ;
