.TM{
    width: 100%;
    text-align: center;
}

.Copy{
    width: 100%;
    text-align: center;
}

.icones-social {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 10px;
}
    
 