@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&family=Ms+Madi&display=swap");

#About {

  background: #d9a7c7; 
  background: -webkit-linear-gradient(
    to right,
    #fffeed,
    #c57caa
  ); 

  background: linear-gradient(
    to right,
    #fffdec,
    #b86f9d
  ); 

  min-height: 100vh;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 0px;
  color: rgb(49, 30, 30);
}

.about-me {
  padding-bottom: 30px;
  padding-top: 30px;
  margin: 50px;
  color: rgb(63, 63, 60);
  font-family: "Dancing Script", cursive;
  font-size: 4rem;
}

.history {
  justify-content: center;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
  text-align: justify;
  line-height: 160%;
  font-family: "Dancing Script", cursive;
  font-size: 1.5rem;
  color: rgb(54, 54, 54);
}

.subtitle {
  justify-content: center;
  align-items: center;
  padding: 20px;
  text-align: justify;
}

@media (max-width: 768px) {
  #About {
    height: auto;
    min-height: 100vh;
  }
}
