nav {
  background: #642b73;
  background: -webkit-linear-gradient(to right, #c6426e, #642b73);
  background: linear-gradient(to right, #c6426e, #642b73);

  height: 100vh;
  background-size: cover;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  padding: 0 30px;
  position: fixed;
  top: 0;
  width: 100vw;
}

.menu {
  display: flex;
  list-style: none;
  margin-right: 890px;
}

.item-menu {
  padding: 10 50px;
  margin: 25px;
  font-size: 1rem;
  cursor: pointer;
  font-weight: 400;
  color: rgb(226, 229, 231);
}

.Mar {
  border-radius: 25%;
  cursor: pointer;
  padding: 10px;
  margin-bottom: 30px;
}

img {
  border-radius: 25%;
  padding: 10px;
  margin-top: 10px;
}
